:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-primary: #ffffff;
    --accent-secondary: #E7E9FC;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --light: #F4F4FD;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    font: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: inherit;
}

.section-title {}

body {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

header{
    border-bottom: 1px solid var(--accent-secondary);
}

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-header-container{
    display: flex;
    align-items: center;
}
.navigation-list {
    color: var(--title-text-color);

}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--title-text-color);
    text-decoration: none;
   padding-right: 40px;
   display: flex;
   align-items: center;
}

.header-link:not(:last-child){
    margin-right: 40px;
}
.menu{
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 76px;

}

.navigation-list-contact{
    display: flex;
    justify-content: end;
}

.mail{ 
    margin-left: auto;
}

.header-link:active {
    color: var(--pressed-state);
}

.header-contacts:active {
    color: var(--pressed-state);
}

.header-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--primary-text-color);
    text-decoration: none;
    font-style: normal;
    padding-left: 40px;
}

.logo-black {
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: left;
    margin-right: 76px;
}

.logo {
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: var(--primary-brand);
    font-family: 'Raleway',
        sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: left;
}

/* footer */

footer {
    background: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container{
   max-width: 264px; 
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.footer-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--light);
    margin-top: 16px;
}

.logo-white {
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: var(--light);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

/* body */
/* hero image*/
.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: calc(50 / 56);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-primary);
    margin-bottom: 20px;
    max-width: 496px;
    align-items: center;
    justify-content: center;
    margin: auto;


}

.hero-box {
    background: var(--title-text-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 292px;

}


.hero-button {
    background: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--accent-primary);
    padding: 16px 32px;
    min-width: 168px;
    display: inline-block;
    margin-top: 48px;
   

}

.hero-button:hover {
    background-color: var(--pressed-state);
}

.pointer {
    cursor: pointer;
}

/* ====================section1 Our benefits========================== */

.our-benefits {
    padding-top: 120px;
    
}

.benefits-item{
    max-width: 264px;
   
}
.benefits-list {
        display: flex;
        /* justify-content: space-between; */
        flex-wrap: wrap;
        gap: 24px;
    }

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: var(--title-text-color);

}

.paragraph-benefits {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--primary-text-color);
    margin-bottom: 120px;
    text-align: center;
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    text-align: left;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* =====================section2========================== */
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.work-exaples-titel{
    margin-top: 120px;
    margin-bottom: 72px;
}

.work-exaples-list{
    display: flex;
        /* justify-content: space-between; */
        flex-wrap: wrap;
        gap: 24px;

}
.work-exaples{
    margin-bottom: 120px;
}


/*======================= section3====================== */
.section-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;

}

.team-title{
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 24px;
}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px calc(24 / 16);
    text-align: center;
    color: var(--primary-text-color);
    margin-top: 8px;
}

.name{
    text-align: center;
}
.team-card-wrapper{
    background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        padding-top: 32px;
        padding-bottom: 32px;

}
/* .team-card{
    flex-basis: calc((100%-72px) / 4);
} */
/* 
.team-card:not(:nth-child(4n)){
    margin-right: 24px;
}

.team-card:not(:nth-last-child(-n + 4)){
    margin-bottom: 24px;
} */

/*========================filters=================================== */
.filter-type-active {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--accent-primary);
    background: var(--pressed-state);
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
}

.filter-type {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px calc(24 / 16);
    color: var(--pressed-state);
    background: var(--light);
    padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
}

.filter-type .filter-type-active:hover {
    background-color: var(--pressed-state);
}

.filter-button{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 72px;
}
/* ==========================Row1====================================== */

.portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--primary-text-color);
    margin-top: 8px;
    padding-bottom: 32px;
}

.portfolio-examples{
display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-description-wrapper{
    background: #FFFFFF;
        border: 1px solid #E7E9FC;
        border-top:  none;
        margin-bottom: 48px;

}

.last-row-container{
    margin-bottom: 120px;
}