:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-primary: #ffffff;
    --accent-secondary: #E7E9FC;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --light: #F4F4FD;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    font: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: inherit;
}

.section-title {}

body {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
.navigation-link {
    color: var(--title-text-color);
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--title-text-color);
    text-decoration: none;
}

.navigation-link .header-link .header-contacts:active {
    color: var(--pressed-state);
}

.header-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--primary-text-color);
    text-decoration: none;
    font-style: normal;

}

.logo-black {
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;

}

.logo {
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: var(--primary-brand);
    font-family: 'Raleway',
        sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

/* footer */

footer {
    background: var(--title-text-color);
}

.footer-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--light);
}

.logo-white {
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: var(--light);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

/* body */
/* hero image*/
.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: calc(50 / 56);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-primary);
    margin-bottom: 20px;


}

.hero-box {
    background: var(--title-text-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 292px;

}


.hero-button {
    background: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--accent-primary);
    padding: 16px 32px;
    min-width: 168px;
    display: inline-block;

}

.hero-button:hover {
    background-color: var(--pressed-state);
}

.pointer {
    cursor: pointer;
}

/* section1 Our benefits */

.our-benefits {
    padding: 110px 156px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: var(--title-text-color);

}

.paragraph-benefits {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--primary-text-color);
    margin-bottom: 120px;
    text-align: center;
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* section2 */
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

/* section3 */
.section-team {
    background-color: #F4F4FD;

}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px calc(24 / 16);
    color: var(--primary-text-color);
}

/* filters */
.filter-type-active {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--accent-primary);
    background: var(--pressed-state);
}

.filter-type {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px calc(24 / 16);
    color: var(--pressed-state);
    background: var(--light);
}

.filter-type .filter-type-active:hover {
    background-color: var(--pressed-state);
}

/* Row1 */

.portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--primary-text-color);
}