:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-primary: #ffffff;
    --accent-secondary: #E7E9FC;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --light: #F4F4FD;
    --subtle-text: #8E8F99;

}