:root{
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-primary: #ffffff; 
    --accent-secondary: #E7E9FC;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --light: #F4F4FD;
    

}
body {
    
     font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16); 
    color: var(--primary-text-color); 
}
ul {
    list-style: none;
}
            /* header */
                .navigation-link {
                color: var(--title-text-color);
                }

            .header-link {
                font-weight: 500;
                font-size: 16px;
                line-height: calc(24 / 16);
                color: var(--title-text-color);
                text-decoration: none;      
            }

            .navigation-link .header-link .header-contacts:active {
                color: var(--pressed-state);
            }

        .header-contacts {
                font-weight: 400;
                font-size: 16px;
                line-height: calc(24 / 16);
                color: var(--primary-text-color);
                text-decoration: none;
                font-style: normal;

        }
            
        .logo-black {
                font-weight: 800;
                font-size: 18px;
                line-height: calc(21 / 18);
                color: var(--title-text-color) ;
                font-family: 'Raleway', sans-serif;
                text-transform: uppercase;
            
        }

        .logo {
            font-weight: 800;
            font-size: 18px;
            line-height:calc(21 / 18);
            color: var(--primary-brand);
            font-family: 'Raleway',
                    sans-serif;
            text-transform: uppercase;
        }
                /* footer */
        
                footer {
                    background: var(--title-text-color);
                }
        
                .footer-paragraph {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: calc(24 / 16);
                    color: var(--light);
                }
        
                .logo-white {
                    font-weight: 800;
                    font-size: 18px;
                    line-height: calc(21 / 18);
                    color:  var(--light);
                    font-family: 'Raleway', sans-serif;
                    text-transform: uppercase;
                }

        /* body */
        /* hero image*/
h1 {font-weight: 700;
 font-size: 56px;
 line-height: calc(50 / 56);
 text-align: center;
 letter-spacing: 0.02em;
 color:var(--accent-primary);
}
hero-box {
    background:  var(--title-text-color);
}

.hero-button {
    background: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--accent-primary) ;
}

.hero-button:hover {
    background-color: var(--pressed-state);
}

.pointer {
    cursor: pointer;
}

/* section1 */
h3 {font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: var(--title-text-color);

}

.paragraph-benefits {
    font-weight: 400;
        font-size: 16px;
        line-height: calc(24 / 16);
        color: var(--primary-text-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* section2 */
h2 {
    font-weight: 700;
        font-size: 36px;
        line-height: 40px calc(40 / 36);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-text-color);
}

/* section3 */
.section-team { background-color: #F4F4FD;

}
.position {
    font-weight: 400;
        font-size: 16px;
        line-height: 24px calc(24 / 16);
        color: var(--primary-text-color);
}

/* filters */
.filter-type-active {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: calc(24 / 16);
        color: var(--accent-primary) ;
        background:  var(--pressed-state);
}
.filter-type {
    font-family: 'Roboto'sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 24px calc(24 / 16);
        color: var(--pressed-state);
        background: var(--light);
}

.filter-type .filter-type-active:hover {
background-color: var(--pressed-state);
}
 /* Row1 */

 .portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color:var(--primary-text-color);
 }

